*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.main{
    width: 70vw;
    min-height: 92vh;
    margin: auto;
    background-color: #cdb4db;
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5), 5px 0 5px -5px rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 3rem;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.internals{
    background-color: rgb(230, 230, 230);
    font-size: 1rem;
    padding:1em;
    width: 50%;
    height: 5vh;
    border-style: none;
    border-radius: 10px;
}
button{
    border-radius: 10px;
    width: 50%;
    height: 5vh;
    border: none;
    display: flex;
    cursor: pointer;
    background-color: rgb(12, 12, 12);
    color: white;
    align-items: center;
    justify-content: center;
}
.main textarea{
    height: 10vh;
}
button:hover{
    background-color: rgb(0, 0, 85);
    transition: all ease-in-out;
}
form{
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}



@media only screen and (max-width: 900px) {
    .internals{
        width: 80%;
        height: 7vh;
        border-style: none;
        border-radius: 10px;
    }
    button{
        width: 80%;
    }
  }

  @media only screen and (max-width: 500px) {
    .main{
        width: 100%;
    }
  }